html {
	background-color: #F3F3F3;
}

.container {
  @include outer-container;
  overflow: hidden;
  max-width: 480px;
  height: 700px;
  overflow-y: scroll;
  background-color: #F9F9F9;
  margin-top: 2em;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.25);
}
.content {
  height: 100%;
}

.header {
	background-color: $green;
	height: 3em;
}

.main {
	padding: 2em;
}



// @include span-columns(n of 6);