html {
	background-color: #F3F3F3;
  height: 100%;
}

body {
  height: 100%;
}

.welcome {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 5em;
  font-size: 2em;
}

.login {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0.5em;
  background-color: #F3F3F3;
  color: #000;
  border: 0;
  width: 500px;
  font-size: 1em;
  border: 1px solid #DADADA;
  border-bottom: 10px solid #DADADA;
  cursor: pointer;

  &:hover {
    background-color: darken(#F3F3F3, 10%);
    border: 1px solid darken(#DADADA, 10%);
    border-bottom: 10px solid darken(#DADADA, 10%);
  }
}

.container {
  @include outer-container;
  overflow: hidden;
  max-width: 480px;
  height: 700px;
  overflow-y: scroll;
  background-color: #F9F9F9;
  margin-top: 2em;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.25);
}
.content {
  height: 100%;
}

.header {
	background-color: $green;
	height: 3em;
}

.main {
	padding: 2em;
}





// @include span-columns(n of 6);