<!DOCTYPE html>
<html>
<head>
	<title>firstroute</title>
	<script src="js/jquery.min.js"></script>
	<script	src="js/underscore.js"></script>
	<script	src="js/backbone.js"></script>
	<script	src="main.js"></script>
	<script	src="models/search-result.js"></script>
	<script src="collections/search-results.js"></script>
	<script src="views/userview.js"></script>
	<script	src="routers/router.js"></script>
</head>
<body>
index2
<div id="bin" style="border: 2px solid; height: 300px; width: 300px">stuff</div>
</body>
</html>