<!DOCTYPE html>
<html>
<head>
	<title>yummly api app vSUPERBETA </title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/base.css">

	<!-- Main script -->
	<script	src="main.js"></script>

	<!-- Library scripts -->
	<script src="lib/jquery.min.js"></script>
	<script	src="lib/underscore.js"></script>
	<script	src="lib/backbone.js"></script>
	<script	src="lib/handlebars-v1.1.2.js"></script>
	<script	src="lib/responsive-nav.min.js"></script>

	<!-- Parser script -->
	<script src="parsers/ingredientParser.js"></script>

	<!-- Backbone models -->
	<script	src="models/search-result.js"></script>
	<script	src="models/recipie-details.js"></script>
	<script	src="models/shopping-list-item.js"></script>
	<script	src="models/user-recipe.js"></script>
	<script	src="models/inventory-item.js"></script>
	<script	src="models/shopping-list-item.js"></script>
	<script	src="models/day-of-week.js"></script>
	<script	src="models/favorite.js"></script>

	<!-- Backbone collections -->
	<script src="collections/search-results.js"></script>
	<script src="collections/inventory.js"></script>
	<script	src="collections/planned-recipies.js"></script>
	<script	src="collections/shopping-list.js"></script>
	<script	src="collections/user-recipes.js"></script>
	<script	src="collections/week.js"></script>
	<script	src="collections/favorites.js"></script>

	<!-- Backbone views -->
	<script src="views/search-result.js"></script>
	<script src="views/inventory.js"></script>
	<script src="views/inventory-item.js"></script>
	<script	src="views/recipie-details.js"></script>
	<script	src="views/add-recipe.js"></script>
	<script	src="views/shopping-list-item.js"></script>
	<script	src="views/shopping-list.js"></script>
	<script	src="views/week.js"></script>
	<script	src="views/day-of-week.js"></script>
	<script	src="views/favorite.js"></script>
	<script	src="views/favorites.js"></script>

	<!-- Backbone router -->
	<script	src="routers/router.js"></script>

</head>
<body>
<script id="search-result-template" type="text/template">
		id: {{id}} after
	</script>

<section class="container" id="container">
<section class="content" id="content">

<section class="container">


	<a href="#menu" class="menu-link">Menu</a>
	<nav id="menu" role="navigation">
		<ul>
			<li><a href="#" class="home">Home</a></li>
			<li><a href="#" class="search">Search</a></li>
			<li><a href="#" class="inventory">Inventory</a></li>
			<li><a href="#" class="week">Weekly Schedule</a></li>
			<li><a href="#" class="shopping">Shopping List</a></li>
			<li><a href="#" class="favorites">Favorites</a></li>
		</ul>
	</nav>


	<section class="main">

	<form id="form">
	<input id="query" type="text"></input>
	</form>
	<div id="bin">Type search string in box above and hit enter to search yummly recipie api</div>

	<!-- script to keep form submit from refreshing page -->
	<script type="text/javascript">
		$('#form').submit(function(){
			APP.router.navigate("search", {trigger: true});
			return false;
		});
	</script>

	<script>
		$("a.home").click(function(e) {
			e.preventDefault();
			APP.router.navigate("/", {trigger: true});
		});
		$("a.search").click(function(e) {
			e.preventDefault();
			APP.router.navigate("search", {trigger: true});
		});
		$("a.inventory").click(function(e) {
			e.preventDefault();
			APP.router.navigate("inventory", {trigger: true});
		});
		$("a.week").click(function(e) {
			e.preventDefault();
			APP.router.navigate("week", {trigger: true});
		});
		$("a.shopping").click(function(e) {
			e.preventDefault();
			APP.router.navigate("shopping", {trigger: true});
		});
		$("a.favorites").click(function(e) {
			e.preventDefault();
			APP.router.navigate("favorites", {trigger: true});
		});
	</script>

	<script>
    var nav = responsiveNav(".nav-collapse", {
		  animate: true,
		  transition: 400,
		  label: "Menu"
		});
	</script>

	</section> <!-- end main -->
</section> <!-- end content -->
</section> <!-- end container -->

</body>
</html>