<!DOCTYPE html>
<html>
<head>
	<title>yummly api app vSUPERBETA </title>
	<link rel="stylesheet" href="/base.css">
	<script src="lib/jquery.min.js"></script>
	<script	src="lib/underscore.js"></script>
	<script	src="lib/backbone.js"></script>
	<script	src="lib/handlebars-v1.1.2.js"></script>
	<script	src="main.js"></script>
	<script	src="models/search-result.js"></script>
	<script	src="models/recipie-details.js"></script>
	<script	src="models/planned-recipie.js"></script>
	<script	src="models/inventory-item.js"></script>
	<script	src="models/shopping-list-item.js"></script>
	<script	src="models/day-of-week.js"></script>
	<script	src="models/favorite.js"></script>
	<script src="collections/search-results.js"></script>
	<script src="collections/inventory.js"></script>
	<script	src="collections/planned-recipies.js"></script>
	<script	src="collections/shopping-list.js"></script>
	<script	src="collections/week.js"></script>
	<script	src="collections/favorites.js"></script>
	<script src="views/search-result.js"></script>
	<script src="views/inventory.js"></script>
	<script src="views/inventory-item.js"></script>
	<script	src="views/recipie-details.js"></script>
	<script	src="views/shopping-list-item.js"></script>
	<script	src="views/shopping-list.js"></script>
	<script	src="views/week.js"></script>
	<script	src="views/day-of-week.js"></script>
	<script	src="views/favorite.js"></script>
	<script	src="views/favorites.js"></script>
	<script	src="routers/router.js"></script>

</head>
<body>

<section class="container">

	<header class="header">

	</header>

	<section class="main">

	<form id="form">
	<input id="query" type="text"></input>
	</form>
	<div id="bin">Type search string in box above and hit enter to search yummly recipie api</div>
	<div class="hook"></div>

	<!-- script to keep form submit from refreshing page -->
	<script type="text/javascript">
		$('#form').submit(function(){
			APP.router.navigate("search", {trigger: true});
			return false;
		});
	</script>

	</section> <!-- end main -->

</section> <!-- end container -->

</body>
</html>