<!DOCTYPE html>
<html>
<head>
	<title>firstroute</title>
	<script src="js/jquery.min.js"></script>
	<script	src="js/underscore.js"></script>
	<script	src="js/backbone.js"></script>
	<script	src="main.js"></script>
	<script	src="routers/router.js"></script>
</head>
<body>
index2
</body>
</html>